textarea, input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
  -webkit-appearance: none;
  background-color: #fafcfc;
  border-radius: 3px;
  border: none;
  box-shadow: inset 0 0 0 2px #dfe3e6;
  box-sizing: border-box;
  color: #17394d;
  display: block;
  line-height: 20px;
  margin-bottom: 12px;
  padding: 8px 12px;
  transition-duration: 85ms;
  transition-property: background-color,border-color,box-shadow;
  transition-timing-function: ease;
  width: 100%;
}

textarea:not([disabled]):hover, input[type="text"]:not([disabled]):hover, input[type="email"]:not([disabled]):hover, input[type="password"]:not([disabled]):hover, input[type="number"]:not([disabled]):hover {
  background-color: #ebeef0;
  border: none;
  box-shadow: inset 0 0 0 2px #dfe3e6;
}

textarea:not([disabled]):focus, input[type="text"]:not([disabled]):focus, input[type="email"]:not([disabled]):focus, input[type="password"]:not([disabled]):focus, input[type="number"]:not([disabled]):focus {
  background: #fff;
  border: none;
  box-shadow: inset 0 0 0 2px #0079bf;
  outline: 0;
}
