textarea, input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
  -webkit-appearance: none;
  background-color: #fafcfc;
  border-radius: 3px;
  border: none;
  box-shadow: inset 0 0 0 2px #dfe3e6;
  box-sizing: border-box;
  color: #17394d;
  display: block;
  line-height: 20px;
  margin: 0;
  padding: 8px 12px;
  transition-duration: 85ms;
  transition-property: background-color,border-color,box-shadow;
  transition-timing-function: ease;
  width: 100%;
}

textarea:not([disabled]):hover, input[type="text"]:not([disabled]):hover, input[type="email"]:not([disabled]):hover, input[type="password"]:not([disabled]):hover, input[type="number"]:not([disabled]):hover {
  background-color: #ebeef0;
  border: none;
  box-shadow: inset 0 0 0 2px #dfe3e6;
}

textarea:not([disabled]):focus, input[type="text"]:not([disabled]):focus, input[type="email"]:not([disabled]):focus, input[type="password"]:not([disabled]):focus, input[type="number"]:not([disabled]):focus {
  background-color: #fff;
  border: none;
  box-shadow: inset 0 0 0 2px #0079bf;
  outline: 0;
}

/* Error */
textarea.is-error, input[type="text"].is-error, input[type="email"].is-error, input[type="password"].is-error, input[type="number"].is-error {
  background-color: #fbedeb;
  border: none;
  box-shadow: inset 0 0 0 2px #efb3ab;
}

textarea.is-error:hover, input[type="text"].is-error:hover, input[type="email"].is-error:hover, input[type="password"].is-error:hover, input[type="number"].is-error:hover {
  background-color: #f5d3ce;
  border: none;
  box-shadow: inset 0 0 0 2px #efb3ab;
}

textarea.is-error:focus, input[type="text"].is-error:focus, input[type="email"].is-error:focus, input[type="password"].is-error:focus, input[type="number"].is-error:focus {
  background-color: #fff;
  border: none;
  box-shadow: inset 0 0 0 2px #eb5a46;
  outline: 0;
}

.error-message {
  color: #eb5a46;
  font-size: 90%;
  margin-top: 6px;
  max-height: 0;
  opacity 0.5s linear;
  opacity: 0;
  padding: 0 12px;
  transition: max-height 0.25s, opacity 1s ease-out;
}

.error-message.is-error {
  max-height: 18px;
  opacity: 1;
}
